+include_for_namespace aaaa <T50.namespace_binder.a.1.include>
+include_for_namespace aaaa <T50.namespace_binder.a.2.include>

+include_for_namespace aaaa::bbbb <T50.namespace_binder.a.b.include>


+add_on_binder_for_namespace aaaa add_on_binder_for_aaaa
+binder_for_namespace aaaa::bbbb binder_for_aaaa_bbbb
