# -------------------------------------------------------------------------------------------------
#   Basics
# -------------------------------------------------------------------------------------------------

# Static members
+default_static_pointer_return_value_policy pybind11::return_value_policy::move
+default_static_lvalue_reference_return_value_policy pybind11::return_value_policy::reference_internal
+default_static_rvalue_reference_return_value_policy pybind11::return_value_policy::move

# Non-static members
+default_member_pointer_return_value_policy pybind11::return_value_policy::move
+default_member_lvalue_reference_return_value_policy pybind11::return_value_policy::reference_internal
+default_member_rvalue_reference_return_value_policy pybind11::return_value_policy::move

# Assignment operators
+default_member_assignment_operator_return_value_policy pybind11::return_value_policy::reference_internal

# Free functions
+default_function_pointer_return_value_policy pybind11::return_value_policy::move
+default_function_lvalue_reference_return_value_policy pybind11::return_value_policy::copy
+default_function_rvalue_reference_return_value_policy pybind11::return_value_policy::move

# Custom policies
+return_value_policy B::operator-=           pybind11::return_value_policy::automatic
+return_value_policy B::get_custom           pybind11::return_value_policy::reference
+return_value_policy B::get_custom(int, int) pybind11::return_value_policy::copy
+return_value_policy get_custom              pybind11::return_value_policy::reference
+return_value_policy get_custom(int, int)    pybind11::return_value_policy::copy

# -------------------------------------------------------------------------------------------------
#   Function templates
# -------------------------------------------------------------------------------------------------

+return_value_policy my_func_a pybind11::return_value_policy::automatic
+return_value_policy my_func_b<int>(int &) pybind11::return_value_policy::automatic

# -------------------------------------------------------------------------------------------------
#   Class templates
# -------------------------------------------------------------------------------------------------

# Class that gets a custom policy as a whole.
+return_value_policy_for_class C pybind11::return_value_policy::copy

# Class where one getter gets a custom policy overwriting the custom policy for the class.
+return_value_policy_for_class D pybind11::return_value_policy::copy
+return_value_policy D::get_x() pybind11::return_value_policy::move

# Class template where all template instantiations get a custom policy for the class.
+return_value_policy_for_class E pybind11::return_value_policy::copy

# Class template where only the int instantiation gets a custom policy, while the std::string instantiation remains at defaults.
+return_value_policy_for_class F<int> pybind11::return_value_policy::copy
