# Static members
+default_static_pointer_return_value_policy pybind11::return_value_policy::move
+default_static_lvalue_reference_return_value_policy pybind11::return_value_policy::reference_internal
+default_static_rvalue_reference_return_value_policy pybind11::return_value_policy::move

# Non-static members
+default_member_pointer_return_value_policy pybind11::return_value_policy::move
+default_member_lvalue_reference_return_value_policy pybind11::return_value_policy::reference_internal
+default_member_rvalue_reference_return_value_policy pybind11::return_value_policy::move

# Assignment operators
+default_member_assignment_operator_return_value_policy pybind11::return_value_policy::reference_internal

# Free functions
+default_function_pointer_return_value_policy pybind11::return_value_policy::move
+default_function_lvalue_reference_return_value_policy pybind11::return_value_policy::copy
+default_function_rvalue_reference_return_value_policy pybind11::return_value_policy::move

# Custom policies
+return_value_policy B::operator-=           pybind11::return_value_policy::automatic
+return_value_policy B::get_custom           pybind11::return_value_policy::reference
+return_value_policy B::get_custom(int, int) pybind11::return_value_policy::copy
+return_value_policy get_custom              pybind11::return_value_policy::reference
+return_value_policy get_custom(int, int)    pybind11::return_value_policy::copy
