Source: binder
Section: misc
Priority: optional
Maintainer: Sergey Lyskov <sergey.lyskov@jhu.edu>
Build-Depends: clang (>=10~), cmake, debhelper (>=11~), gcc, g++, llvm (>=10~), libclang-dev (>=10~), llvm-dev (>=10~), make, pybind11-dev, python3-dev
Standards-Version: 4.1.4
Homepage: https://github.com/RosettaCommons/binder

Package: binder
Architecture: any
Multi-Arch: foreign
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: This package contains the binder executable.
  Binder is a tool for automatic generation of Python bindings for
  C++11 projects using Pybind11 and Clang LibTooling libraries.

Package: binder-dev
Architecture: any
Multi-Arch: foreign
Depends: binder, ${misc:Depends}, ${shlibs:Depends}
Description: This package contains custom bindings for binder.
