name: build
on:
 push:
 pull_request:
 schedule:
#Every 5 days at midnight 
    - cron:  "0 0 1/5 * *"

jobs:

  compilejobFedora26:
    runs-on: ubuntu-latest
    name: Binder_on_Fedora26
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Compile
      id: compileindocker
      uses: ./.github/workflows/fedora26
    - name: Get the output status
      run: exit ${{ steps.compileindocker.outputs.out }}

  compilejobFedora27:
    runs-on: ubuntu-latest
    name: Binder_on_Fedora27
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Compile
      id: compileindocker
      uses: ./.github/workflows/fedora27
    - name: Get the output status
      run: exit ${{ steps.compileindocker.outputs.out }}

  compilejobFedora28:
    runs-on: ubuntu-latest
    name: Binder_on_Fedora28
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Compile
      id: compileindocker
      uses: ./.github/workflows/fedora28
    - name: Get the output status
      run: exit ${{ steps.compileindocker.outputs.out }}

  compilejobFedora29:
    runs-on: ubuntu-latest
    name: Binder_on_Fedora29
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Compile
      id: compileindocker
      uses: ./.github/workflows/fedora29
    - name: Get the output status
      run: exit ${{ steps.compileindocker.outputs.out }}

  compilejobFedora30:
    runs-on: ubuntu-latest
    name: Binder_on_Fedora30
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Compile
      id: compileindocker
      uses: ./.github/workflows/fedora30
    - name: Get the output status
      run: exit ${{ steps.compileindocker.outputs.out }}


  compilejobFedora31:
    runs-on: ubuntu-latest
    name: Binder_on_Fedora31
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Compile
      id: compileindocker
      uses: ./.github/workflows/fedora31
    - name: Get the output status
      run: exit ${{ steps.compileindocker.outputs.out }}


  compilejobFedora32:
    runs-on: ubuntu-latest
    name: Binder_on_Fedora32
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Compile
      id: compileindocker
      uses: ./.github/workflows/fedora32
    - name: Get the output status
      run: exit ${{ steps.compileindocker.outputs.out }}

  compilejobFedora33:
    runs-on: ubuntu-latest
    name: Binder_on_Fedora33
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Compile
      id: compileindocker
      uses: ./.github/workflows/fedora33
    - name: Get the output status
      run: exit ${{ steps.compileindocker.outputs.out }}

  compilejobFedora34:
    runs-on: ubuntu-latest
    name: Binder_on_Fedora34
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Compile
      id: compileindocker
      uses: ./.github/workflows/fedora34
    - name: Get the output status
      run: exit ${{ steps.compileindocker.outputs.out }}

  compilejobFedora35:
    runs-on: ubuntu-latest
    name: Binder_on_Fedora35
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Compile
      id: compileindocker
      uses: ./.github/workflows/fedora35
    - name: Get the output status
      run: exit ${{ steps.compileindocker.outputs.out }}

  compilejobOSX:
    runs-on: macos-latest
    name: Binder_on_OSX
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Compile
      id: compile
      run: ./.github/workflows/osx/entrypoint.sh
    - name: Get the output status
      run: exit ${{ steps.compile.outputs.out }}
