name: Wheels

on:
  pull_request:
    branches:
      - master
    paths:
      - ".github/workflows/wheels.yml"
      - "source/**"
  release:
    types: [published]

concurrency:
  group: wheels-${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write
  pull-requests: write

jobs:
  build-wheels:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - windows-2022
          - ubuntu-22.04
          - macos-14
      fail-fast: false
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: recursive

      - name: Setup cibuildwheel
        run: |
          pipx install cibuildwheel

      - name: Build wheels
        run: |
          cibuildwheel --output-dir wheelhouse python
        env:
          CIBW_BUILD: ${{ github.event_name == 'release' && 'cp312-*' || 'cp312-macosx_universal2 cp312-win_amd64 cp312-manylinux_x86_64' }}

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: cppbinder-wheels-${{ matrix.os }}
          path: ./wheelhouse/*.whl

      - name: Upload wheels to release
        if: github.event_name == 'release'
        shell: bash
        run: |
          gh release upload ${{ github.ref_name }} ./wheelhouse/*.whl --clobber
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  build-sdist:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: recursive

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install build

      - name: Build source distribution
        run: |
          python -m build --sdist --outdir dist
        working-directory: python

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: cppbinder-sdist
          path: ./python/dist/*.tar.gz

      - name: Upload wheels to release
        if: github.event_name == 'release'
        run: |
          gh release upload ${{ github.ref_name }} ./python/dist/*.tar.gz --clobber
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  publish:
    needs: [build-wheels, build-sdist]
    if: github.event_name == 'release'
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: Download wheels
        run: |
          gh release download ${{ github.ref_name }} --pattern *.whl --pattern *.tar.gz --dir dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@v1.8.14
        with:
          user: __token__
          password: ${{ secrets.PYPI_API_TOKEN }}
          packages-dir: dist
